<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.kodi.mido</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Notifications may include alerts, sounds, and icon badges. You can configurate this in Setting.</string>
</dict>
</plist>
